<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twinone.locker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.twinone.locker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Derived activities will return to MainActivity -->
        <activity
            android:name="com.twinone.locker.DieLockActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.twinone.locker.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.twinone.locker.SelectActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <!-- End derived activities -->


        <!-- ExcludeFromRecents will hide it in task switcher -->
        <!-- NoHistory will finish in onPause -->
        <activity
            android:name="com.twinone.locker.LockActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <service android:name="com.twinone.locker.ObserverService" />
    </application>

</manifest>